@use '@/styles/index.scss' as s;

.container {
  position: relative;
  width: 100%;
  padding: 4rem 2rem 4rem;
  margin-top: 16vmax;
  //background-color: #F4F8FF;

  //border: 1px solid red;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .bg {
      position: absolute;
      inset: 0;
      //border: 1px solid yellow;
      background-repeat: no-repeat;
      background-size: cover;
      //background-position: 0;
      //background-color: white;
      z-index: 99;
    }

    .grid {
      position: absolute;
      inset: 0;
    }

    .wrapper {
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      gap: 2.5rem;
      max-width: 100rem;
      margin: 0 auto;

      .top {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        align-items: center;

        //border: 1px solid red;

        @include s.media-breakpoint-up(md) {
          flex-flow: row;
          align-items: initial;
        }

        //border: 1px solid red;

        .email_sub {
          display: flex;
          flex-flow: column;
          gap: 1rem;

          .email_field {
            max-width: 30rem;
          }
        }

        .top_right {
          display: flex;
          flex-flow: column;
          gap: 1rem;
          align-items: center;
          //justify-content: flex-end;
          width: 100%;
          max-width: max-content;
          margin-top: 3rem;

          @include s.media-breakpoint-up(md) {
            align-items: flex-end;
            margin-top: 0;
          }
        }

        .pages {
          display: flex;
          align-items: center;
          gap: 1.5rem;
          margin-top: 4rem;
        }
      }

      .divider {
        width: 100%;
        height: 1px;
        //background-color: #f6ddd8;
        border-bottom: 2px dashed gray;

      }


      .bottom {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        gap: 4rem;

        @include s.media-breakpoint-up(md) {
          flex-flow: row;
          //align-items: flex-end;
          //margin-top: 0;
          gap: 0;
        }

        .address {
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 2rem;
        }

        .us {
          display: flex;
          align-items: center;
          gap: 1rem;

          .logo {
            min-width: 5.5rem;

            img {
              width: 100%;
            }
          }
        }
      }

      .social {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        .social_icon {
          min-width: 2rem;
          //border: 1px solid red;

          img {
            width: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
