@use '@/styles/index.scss' as s;

.container {
  //margin-top: 5vmax;
  min-height: 100vh;
  width: 100%;
  //border: 1px solid red;
  background-color: #383636;

  //padding: 1.5rem;
  //@include s.margin(top, 6rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .wrapper {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;

      //border: 1px solid red;


      .text{
        //display: flex;
        //flex-flow: column;
        z-index: 10;
        align-self: flex-start;
        margin-top: 10vmax;
        color: white;
        //border: 1px solid red;

        .swapping_txt_wrapper{
          position: relative;
          display: inline-flex;
          //padding: .3rem;
          //border: 1px solid yellow;
          //overflow: hidden;
          max-height: 3vmax;

          .text_swiper{
            //border: 1px solid black;
            height: auto;
            width: 110% ;
            i{
              width: max-content;
            }
          }
        }

        .swapping_txt{
          //position: absolute;
          display: inline-flex;
          border: 1px solid red;
          flex-flow: column;
          height: max-content;
          transform: translateY(-66.6666%);
        }
      }

      .content{
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        //border: 11px solid yellow;


        .img{
          max-height: 100%;
          height: 100vh;
          //border: 1px solid red;

          img{
            object-fit: cover;
            width: 100%;
            height: 100%;
            max-width: 100%;
            pointer-events: none;
          }
        }

      }

      .btns{
        position: absolute;
        top: calc(50% - 5rem);
        padding: 0 4rem;
        //border: 1px solid red;
        display: flex;
        justify-content: space-between;
        width: 100%;
      }

      .next,
      .prev {
        background: rgba(255, 255, 255, 0.18);
        border-radius: 30px;
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 18px;
        z-index: 2;

        svg{
          fill: white;
        }
      }

      .next {
        right: 10px;
      }

      .prev {
        left: 10px;
        //transform: scale(-1);
      }
    }

  }
}
