@use '@/styles/index.scss' as s;

.container {
  width: 100%;
  //padding: 1.5rem;
  padding: 6rem 0 10rem 0;
  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .wrapper {
      width: 100%;


      header {
        display: flex;
        align-items: flex-start;
        gap: 1.5rem;
        margin: 0 auto;
        //border: 1px solid red;
        max-width: 90rem;


        .icon {
          background-color: #f96a4b;
          padding: 1.2rem;
          border-radius: 50%;
          aspect-ratio: 1/1;
          display: grid;
          place-items: center;

          img {
            object-fit: cover;
            max-width: 3.2rem;
            aspect-ratio: 1/1;
            //max-width: 5rem;
          }
        }

        .title_txt {

          .title_txt_sub {
            display: flex;
            gap: .5rem;
            letter-spacing: .2vmax;
            text-transform: uppercase;

            span {
              color: s.$clrs-accent;
            }
          }
        }
      }


      .main {
        margin-top: 5rem;
        //border: 1px solid red;

        .section {
          display: flex;
          align-items: center;
          //gap: 2rem;
          width: 100%;
          height: 90vh;

          //border: 1px solid yellow;

          & > *{
            flex: 1;
            display: grid;
            place-items: center;
          }

          .left {
            height: 100%;
            //border: 1px solid red;
            clip-path: polygon(81% 0, 100% 50%, 82% 100%, 0 100%, 0 0);
            background-color: rgba(255, 255, 255, 0.72);

            .comp_img {
              //border: 1px solid red;

              img {
                object-fit: cover;
                max-width: 15rem;
              }
            }
          }

          .right{
            position: relative;
            display: grid;
            place-items: center;
            flex: 3;
            //border: 1px solid red;
            height: 100%;
            color: white;
            //clip-path: polygon(100% 0, 100% 100%, 0% 100%, 10% 50%, 0% 0%);
            //clip-path: polygon(100% 0, 81% 51%, 100% 100%, 0 100%, 0 0);
            //clip-path: polygon(81% 0, 100% 50%, 81% 100%, 0 100%, 0 0);

            //background-color: lighten(s.$clrs-accent, 26%);


            .comp_txt{
              max-width: 50ch;
              justify-self: start;
              margin-left: 20%;

              button{
                color: white;
                border-color: white;
                width: 100%;
                max-width: 13rem;
                margin-top: 2rem;
              }
            }

            .comp_address{
              position: absolute;
              bottom: 0;
              right: 3rem;
              top: 50%;
              padding: 5rem;
              display: flex;
              flex-flow: column;
              gap: 1rem;

              //background-color: #00812D;
              background-color: #18181878;

              h5{
                position: relative;
                margin-bottom: 1.6rem;
                // underling using sudo-class ::after

                &::after{
                  content: '';
                  position: absolute;
                  bottom: -.5rem;
                  left: 0;
                  display: block;
                  background-color: white;
                  border-radius: 5000px;
                  height: 3px;
                  width: 30%;
                }
              }
            }
          }
        }
      }

    }
  }
}
