@use '@/styles/index.scss' as s;

.container {
  width: 100%;
  margin: 10vmax 0;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .wrapper {
      max-width: 95rem;
      margin: 0 auto;
      //border: 1px solid red;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .text {
        display: flex;
        flex-flow: column;
        gap: 1rem;
        //margin-top: 2vmax;

        .title_txt_sub {
          display: flex;
          gap: .5rem;
          letter-spacing: .2vmax;
          text-transform: uppercase;

          span {
            color: #FF8944;
          }
        }

        .desc {
          max-width: 70ch;
        }

        button {
          width: 100%;
          font-size: 1.2rem;
          max-width: 15rem;
          margin-top: 2rem;
        }

      }

      .right {
        position: relative;
        //border: 1px solid yellow;

        .about_img {
          //border: 1px solid red;
          position: relative;
          max-width: 42rem;
          width: 100%;
          aspect-ratio: 1/1;
          z-index: -10;

          img {
            object-fit: cover;
            z-index: -10;
          }
        }

        .ceo {
          position: absolute;
          bottom: -2rem;
          padding: 3rem;
          background-color: rgba(0, 125, 216, 0.75);
          margin-left: 5rem;
          z-index: 100;
          max-width: max-content;
          color: white;

          & > :first-child {
            max-width: 45ch;
            font-size: 1.3rem;
            font-weight: 300;
          }
        }
      }
    }
  }
}
