$grey-dark: #424F55;
$grey-90: rgba(230, 230, 230, 0.2);
$grey-70: #B3B3B3;
$grey-80: #CCCCCC;
$cat-light-blue: #aeafff;
$cat-pink: #FFB9B9;
$cat-yellow: #FDD365;
$cat-success: #65FDBD;
$cat-orange: #FF8944;


$accent: #416D3F;
$accent-bg: #F1FBF5;
$accent2: #FF6803;
