@use '@/styles/index.scss' as s;

.container {
  width: 100%;
  min-height: 100vh;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .wrapper {
      margin-top: 8rem;
      max-width: 80rem;

      & > :first-child{
        margin: 0 auto;
        //border: 1px solid red;

        @include s.media-breakpoint-up(xxl){
          //max-width: 86%;

        }
      }

      .social_cards {
        width: 100%;
        display: flex;
        gap: 1.5rem;
        margin: 1rem auto 0;

        .card_wrapper {
          padding: 3rem;
          background-color: #F5F9FF;
          flex: 1;

          .card {
            display: flex;
            flex-flow: column;
            padding: 1.5rem;
            gap: 1.5rem;
            background-color: white;
            box-shadow: 0 2px 3px 1px hsla(0, 0%, 57.3%, 0.12);

            .social_desc{
              font-size: 1.2rem;
              color: gray;
            }
          }
        }
      }
    }
  }
}
